
<div class="headline">
    <h1>Eat That BURGER!</h1>
</div>

<div class="container">
    <div class="form-container">
        <h2>Make a BURGER</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="bu">Kind of Burger:</label>
                <br>
                <input type="text" id="bu" name="burger_name" textarea rows="4" cols="50">
    
            </div>
    
            <button type="submit">Make this BURGER</button>
        </form>
    </div>

    <div class="left">
        <h2>BURGERS ya gotta Eat!</h2>

        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{>burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
        </ul>

        <h2>BURGERS ya Ate!</h2>

        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    {{>burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
        </ul>

    </div>

</div>
