<li>
    {{burger_name}}

    <button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}EAT{{else}}HAMBURGERS! THE CORNER STONE OF ANY NUTRITIOUS BREAKFAST!{{/if}}
    </button>
</li>